form{
	margin: auto;
	width: 50%;
	padding: 10px;
	font-family: arial,verdana,sans-serif;
	background-image: url(image.jpg);
	background-repeat: no-repeat;
  	background-size: cover;
}
h1{
	text-align: center;
}
input[type="text"]{
	width: 100%;
	height: 30px;
}
input[type="submit"],input[type="reset"]{
	width: 100px;
	height: 40px;
	background-color: #DCDCDC;
}
